/* Keep styles for images and paragraph text */
footer img {
    max-width: 100%; 
    max-height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer p {
    font-size: smaller;
}

@media (max-width: 768px) {
    footer {
        padding: 3% 3%; /* Keep padding reduction for small screens */
    }
}
