<footer>
    <div class="main_footer">
        <div>
            <h2>Hotel Copo de Nieve</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, est nihil iusto, in quidem ratione nemo fuga quae placeat omnis unde? Molestiae alias corporis odio inventore perferendis autem, non atque.</p>
        </div>
        <div>
            <h2>Oficinas</h2>
            <div class="info_content">
                <div class="info_element">
                    <img src="../../assets/Icons/Telefono.png" alt="">
                    <p>022564645 - 099256897</p>
                </div>
                <div class="info_element">
                    <img src="../../assets/Icons/Direccion.png" alt="">
                    <p>Quito - Ecuador, Ladron de Guevara</p>
                </div>
                <div class="info_element">
                    <img src="../../assets/Icons/Correo.png" alt="">
                    <p>info&#64;coponieve.com</p>
                </div>
            </div>
        </div>
        <div>
            <h2>Enlaces</h2>
            <div>
                <img src="../../assets/Icons/Facebook.png" alt="">
                <img src="../../assets/Icons/GitHub.png" alt="">
                <img src="../../assets/Icons/Instagram.png" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="secondary_footer">
        <p>Hotel Copo de Nieve ® Web 2023</p>
    </div>
</footer>
