<footer class="container-fluid py-5"
    style="background: linear-gradient(to bottom, rgb(120, 149, 122) 0%, rgb(54, 77, 55) 80%); border-top-left-radius: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                <h2 class="h5">Hotel Copo de Nieve</h2>
                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, est nihil iusto,
                    in quidem ratione nemo fuga quae placeat omnis unde? Molestiae alias corporis odio inventore
                    perferendis
                    autem, non atque.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
                <h2 class="h5">Oficinas</h2>
                <div class="row g-2">
                    <div class="col-6">
                        <img src="../../assets/Icons/Telefono.png" alt="" class="img-fluid mb-2">
                        <p class="text-sm">022564645 - 099256897</p>
                    </div>
                    <div class="col-6">
                        <img src="../../assets/Icons/Direccion.png" alt="" class="img-fluid mb-2">
                        <p class="text-sm">Quito - Ecuador, Ladron de Guevara</p>
                    </div>
                    <div class="col-6">
                        <img src="../../assets/Icons/Correo.png" alt="" class="img-fluid mb-2">
                        <p class="text-sm">info&#64;coponieve.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 class="h5">Enlaces</h2>
                <div class="d-flex justify-content-between">
                    <img src="../../assets/Icons/Facebook.png" alt="" class="img-fluid">
                    <img src="../../assets/Icons/GitHub.png" alt="" class="img-fluid">
                    <img src="../../assets/Icons/Instagram.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <hr class="text-white">
        <div class="text-center py-3" style="font-size: smaller;">
            <p>Hotel Copo de Nieve ® Web 2023</p>
        </div>
    </div>
</footer>