<div class="reservation_modification_popup">
    <h3>Edit Reservation</h3>

    <form #reservationUpdateForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="reservationUpdateFormData">
            <div>
                <div class="popup_label_field">
                    <label for="id">Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="id" name="id" required *ngIf="reservationData"
                            [(ngModel)]="reservationData._id" disabled>
                    </mat-form-field>
                </div>

                <div>
                    <label for="userId">User Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="userId" name="userId" required
                            [(ngModel)]="reservationData.user_id" disabled>
                    </mat-form-field>
                </div>

                <div>
                    <label for="checkIn">Check In</label>


                    <div *ngIf="this.reservation.admin; else elseBotonBlockIn">
                        <mat-form-field>
                            <input matInput type="text" id="checkIn" name="checkIn" required
                                [(ngModel)]="reservationData.checkin_date">
                        </mat-form-field>
                    </div>
                    <ng-template #elseBotonBlockIn>
                        <mat-form-field>
                            <input matInput type="text" id="checkIn" name="checkIn" required
                                [(ngModel)]="reservationData.checkin_date" disabled>
                        </mat-form-field>
                    </ng-template>
                </div>
            </div>
            <div>
                <div class="popup_label_field">
                    <label for="checkOut">Check Out</label>


                    <div *ngIf="this.reservation.admin; else elseBotonBlockOut">
                        <mat-form-field>
                            <input matInput type="text" id="checkOut" name="checkOut" required
                                [(ngModel)]="reservationData.checkout_date">
                        </mat-form-field>
                    </div>
                    <ng-template #elseBotonBlockOut>
                        <mat-form-field>
                            <input matInput type="text" id="checkOut" name="checkOut" required
                                [(ngModel)]="reservationData.checkout_date" disabled>
                        </mat-form-field>
                    </ng-template>


                </div>

                <div class="popup_label_field">
                    <label for="qty_guests">Cantidad de Personas</label>


                    <div *ngIf="this.reservation.admin; else elseBotonBlockGuest">
                        <mat-form-field>
                            <input matInput type="text" id="qty_guests" name="qty_guests" required
                                [(ngModel)]="reservationData.qty_guests">
                        </mat-form-field>
                    </div>
                    <ng-template #elseBotonBlockGuest>
                        <mat-form-field>
                            <input matInput type="text" id="qty_guests" name="qty_guests" required
                                [(ngModel)]="reservationData.qty_guests" disabled>
                        </mat-form-field>
                    </ng-template>

                </div>

                <div class="popup_label_field">
                    <label for="rooms">Numero de cuartos</label>

                    <div *ngIf="this.reservation.admin; else elseBotonBlockRoomNumber">
                        <mat-form-field>
                            <input matInput type="text" id="rooms" name="rooms" required
                                [(ngModel)]="reservationData.rooms">
                        </mat-form-field>
                    </div>
                    <ng-template #elseBotonBlockRoomNumber>
                        <mat-form-field>
                            <input matInput type="text" id="rooms" name="rooms" required
                                [(ngModel)]="reservationData.rooms" disabled>
                        </mat-form-field> </ng-template>


                </div>
            </div>
        </div>

        <div class="popup_label_field">
            <label for="total">Total</label>
            <div *ngIf="this.reservation.admin; else elseBlock">
                <mat-form-field>
                    <input matInput type="text" id="total" name="total" required
                        [(ngModel)]="reservationData.total_price">
                </mat-form-field>
            </div>
            <ng-template #elseBlock>
                <mat-form-field>
                    <input matInput type="text" id="total_alter" name="total_alter" required
                        [(ngModel)]="reservationData.total_price" disabled>
                </mat-form-field>
            </ng-template>
        </div>

        <div *ngIf="this.reservation.admin; else elseBotonBlock">
            <button type="button" class="btn btn-primary btn-position" (click)="onSubmit()">Actualizar</button>
        </div>
        <ng-template #elseBotonBlock>
        </ng-template>
    </form>
</div>