<div class=" mat-dialog-container reservation_modification_popup container">
    <!-- Agregar el botón de cierre (X) -->
    <button class="close-btn" (click)="closePopup()">X</button>
    <h3 class="mt-3">Edit Reservation</h3>

    <form #reservationUpdateForm="ngForm">
        <div class="row reservationUpdateFormData">
            <div class="col-md-6">
                <div class="popup_label_field">
                    <label for="id">Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="id" name="id" required [(ngModel)]="reservationData._id"
                            disabled>
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="userId">User Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="userId" name="userId" required
                            [(ngModel)]="reservationData.user_id" disabled>
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="checkIn">Check In</label>
                    <mat-form-field>
                        <input matInput type="date" id="checkIn" name="checkIn" [min]="minDate" required
                            [(ngModel)]="reservationData.checkin_date" (change)="dateCheckInChange($event)">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="popup_label_field">
                    <label for="checkOut">Check Out</label>
                    <mat-form-field>
                        <input matInput type="date" id="checkOut" name="checkOut" [min]="minDate" required
                            [(ngModel)]="reservationData.checkout_date" (change)="dateCheckOutChange($event)">
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="qty_guests">Cantidad de Personas</label>
                    <mat-form-field>
                        <input matInput type="text" id="qty_guests" name="qty_guests" required
                            [(ngModel)]="reservationData.qty_guests" (change)="guestQtyChange($event)">
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="rooms">Numero de cuartos</label>
                    <mat-form-field>
                        <input matInput type="text" id="rooms" name="rooms" required [(ngModel)]="reservationData.rooms"
                            [disabled]="!reservation.admin">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="popup_label_field">
            <label for="total">Total</label>
            <mat-form-field>
                <input matInput type="text" id="total" name="total" required [(ngModel)]="reservationData.total_price"
                    [disabled]="!reservation.admin">
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- <button type="button" class="btn btn-primary btn-position"
                    (click)="onAdminUpdate()">Actualizar</button> -->
                <div *ngIf="reservation.admin; else elseBotonBlock">
                    <button type="button" class="btn btn-primary btn-position"
                        (click)="onAdminUpdate()">Actualizar</button>
                </div>
                <ng-template #elseBotonBlock>
                    <button type="button" class="btn btn-primary btn-position"
                        (click)="onUserUpdate()">Modificar</button>
                    <button type="button" class="btn btn-primary btn-position"
                        (click)="onUserDelete()">Eliminar</button>
                </ng-template>
            </div>
        </div>
    </form>
</div>