<div class="reservation_modification_popup">
    <h3>Edit Reservation</h3>

    <form #reservationUpdateForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="reservationUpdateFormData">
            <div>
                <div class="popup_label_field">
                    <label for="id">Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="id" name="id" required *ngIf="reservationData"
                            [(ngModel)]="reservationData._id" disabled>
                    </mat-form-field>
                </div>

                <div>
                    <label for="userId">User Id</label>
                    <mat-form-field>
                        <input matInput type="text" id="userId" name="userId" required
                            [(ngModel)]="reservationData.user_id" disabled>
                    </mat-form-field>
                </div>

                <div>
                    <label for="checkIn">Check In</label>
                    <mat-form-field>
                        <input matInput type="text" id="checkIn" name="checkIn" required
                            [(ngModel)]="reservationData.checkin_date">
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div class="popup_label_field">
                    <label for="checkOut">Check Out</label>
                    <mat-form-field>
                        <input matInput type="text" id="checkOut" name="checkOut" required
                            [(ngModel)]="reservationData.checkout_date">
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="qty_guests">Guests Quantity</label>
                    <mat-form-field>
                        <input matInput type="text" id="qty_guests" name="qty_guests" required
                            [(ngModel)]="reservationData.qty_guests">
                    </mat-form-field>
                </div>

                <div class="popup_label_field">
                    <label for="rooms">Rooms Numbers</label>
                    <mat-form-field>
                        <input matInput type="text" id="rooms" name="rooms" required
                            [(ngModel)]="reservationData.rooms">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="popup_label_field">
            <label for="total">Total</label>
            <mat-form-field>
                <input matInput type="text" id="total" name="total" required [(ngModel)]="reservationData.total_price">
            </mat-form-field>
        </div>

        <button type="button" class="btn btn-primary btn-position" (click)="onSubmit()">Update</button>
    </form>
</div>