<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="dates_input">
                <h3>Check In</h3>
                <input type="date" id="check-in-date" [min]="minDate" class="form-control" (change)="CheckIn($event)">
            </div>
        </div>
        <div class="col-md-6">
            <div class="dates_input">
                <h3>Check Out</h3>
                <input type="date" id="check-out-date" [min]="minDate" class="form-control" (change)="CheckOut($event)">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" (click)="filterUpdate()">Update</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Habitaciones</th>
                        <th>Tipo</th>
                        <th>Capacidad</th>
                        <th>Precio</th>
                        <th>Camas</th>
                        <th>Tamaño</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms; let i = index">
                        <ng-container *ngIf="room.free; else elseRoom">
                            <td class="green_room">{{ room._id }}</td>
                            <td class="green_room">{{ room.room_type }}</td>
                            <td class="green_room">{{ room.people_capacity }}</td>
                            <td class="green_room">{{ room.price }}</td>
                            <td class="green_room">{{ room.qty_beds }}</td>
                            <td class="green_room">{{ room.size }}</td>
                        </ng-container>
                        <ng-template #elseRoom>
                            <td class="red_room">{{ room._id }}</td>
                            <td class="red_room">{{ room.room_type }}</td>
                            <td class="red_room">{{ room.people_capacity }}</td>
                            <td class="red_room">{{ room.price }}</td>
                            <td class="red_room">{{ room.qty_beds }}</td>
                            <td class="red_room">{{ room.size }}</td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
