<div class="consult-container container">
  <h3 class="mt-3">Consulta de Reserva</h3>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="reservationId">ID de Reserva</label>
              <input type="text" class="form-control" id="reservationId" [(ngModel)]="reservationId">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <button class="btn btn-primary" (click)="search()" [routerLink]="['/edit']">Consultar</button>
      </div>
  </div>
</div>
