<div class="container">
    <div class="nosotros_main">
        <h2 class="gray_text">Nuestras Actividades</h2>
        <p class="gray_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias amet ea asperiores commodi corporis optio facere alias, voluptatibus nemo perspiciatis libero laboriosam, error deleniti? Consectetur porro blanditiis nam possimus sunt.</p>
        <div class="row nosotros_content">
            <div class="col-md-6 nosotros_info">
                <div class="nosotros_text">
                    <h3>Observacion de Aves</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum sint neque quo quidem numquam, et vero quisquam aut qui voluptas pariatur veritatis, blanditiis, beatae perferendis! Temporibus impedit possimus doloribus ipsum.</p>
                </div>
            </div>
            <div class="col-md-6 nosotros_img">
                <img src="https://cdn.kiwicollection.com/media/property/PR010850/xl/010850-05-MP00008-Mashpi-Lodge-aerial.jpg?cb=1629321379" alt="">
            </div>
        </div>
        <hr class="gray_text">
        <h4 class="gray_text">Actividad</h4>
    </div>
</div>
