<div [ngSwitch]="showDisplay">
    <p *ngSwitchCase="'reservation'">This content will be shown when myVariable is 'value1'.</p>
    <p *ngSwitchCase="'disponibility'">This content will be shown when myVariable is 'value2'.</p>
    <p *ngSwitchDefault>Default content shown when myVariable doesn't match any case.</p>
</div>

<table border="1" class="table-style">
    <tr>
        <th>Reservaciones</th>
        <th>ID Usuario</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Qty Guests</th>
        <th>Rooms</th>
        <th>Total</th>
        <th>Update</th>
        <!-- <th>Seleccionar</th> -->
    </tr>
    <tr *ngFor="let reservation of reservations; let i = index">
        <td>
            {{ reservation._id }}
        </td>
        <td>
            {{ reservation.user_id }}
        </td>
        <td>
            {{ reservation.checkin_date }}
        </td>
        <td>
            {{ reservation.checkout_date }}
        </td>
        <td>
            {{ reservation.qty_guests }}
        </td>
        <td>
            {{ reservation.rooms.join(',') }}
        </td>
        <td>
            {{ reservation.total_price}}
        </td>
        <td>
            <button (click)="openPopUp(reservation)">Update</button>
        </td>
    </tr>
</table>