<div class="container-fluid">
    <div id="contentWrapper" *ngIf="rooms && rooms.length > 0" class="mt-5">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-style">
                    <thead>
                        <tr>
                            <th scope="col">Habitaciones disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let responseData of rooms; let i = index">
                            <td>
                                <table class="table table-bordered inner-table">
                                    <tbody>
                                        <tr *ngFor="let room of rooms">
                                            <app-rooms [room]="room"></app-rooms>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
