<div id="contentWrapper" *ngIf="rooms && rooms.length > 0">
    <br>
    <br>
    <table border="1" class="table-style">
        <tr>
            <th>Habitaciones disponibles</th>
        </tr>
        <tr *ngFor="let responseData of rooms; let i = index">
            <td>
                <table border="1" class="inner-table">

                    <tr *ngFor="let room of rooms">
                        <app-rooms [room]="room"></app-rooms>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>