.table-style th,
.table-style td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table-style {
    background-color: rgba(211, 211, 211, 0.7);
    /* 0.7 es el nivel de opacidad, puedes ajustarlo según tus preferencias */
    margin: 0 auto;
}

#contentWrapper {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    text-align: center;
    /* Centra el contenido horizontalmente */
}

.inner-table {
    width: 100%;
    /* Establece el ancho completo */
}

.inner-table th,
.inner-table td,
.inner-table tr {
    border: 1px solid grey;
    /* Puedes ajustar el color y grosor del borde */
    padding: 8px;
    text-align: left;
}
