<div class="main-container">
    <div class="check-in-out-container">
        <div class="check-in-out">
            <h3>Check In</h3>
            <input type="date" id="check-in-date" [min]="minDate">
            <h3>Check Out</h3>
            <input type="date" id="check-out-date" [min]="minDate">
        </div>

        <div class="people-habitations">
            <h3>Numero de personas</h3>
            <b><span id="num-people">{{ numeroPersonas }}</span></b>
            <button (click)="incrementarP()">+</button>
            <button (click)="decrementarP()">-</button>

            <h3>Numero de habitaciones</h3>
            <b><span id="num-habitations">{{ numeroHabitaciones }}</span></b>
            <button (click)="incrementarH()">+</button>
            <button (click)="decrementarH()">-</button>

        </div>
    </div>


    <br>
    <br>

    <div>
        <button class="buscar-habitaciones" (click)="buscarHabitaciones()">Buscar habitaciones</button>
    </div>

    <div *ngIf="response && response.length > 0">
        <br>
        <br>
        <table border="1" class="table-style">
            <tr>
                <th>Habitaciones disponibles</th>
                <th>Seleccionar</th>
            </tr>
            <tr *ngFor="let responseData of response; let i = index">
                <td>
                    <table border="1" class="inner-table">

                        <tr *ngFor="let room of responseData.rooms">
                            <app-rooms [room]="room"></app-rooms>
                        </tr>

                    </table>
                </td>

                <td>
                    <span class="cost-label">Costo total de la combinacion: <br> <br> {{ costoCombinacion(responseData)
                        }}</span>
                    <br><br>

                    <button class="seleccionar-habitaciones"
                        (click)="selectRoom(response[i], costoCombinacion(responseData));" [routerLink]="['/pago']">
                        <!-- <a [routerLink]="['/pago']">Seleccionar</a> -->
                        Seleccionar
                    </button>
                </td>
            </tr>
        </table>



    </div>

    <div *ngIf="!response">
        <p>No data received from the backend.</p>
    </div>
</div>