<div class="container">
  <div class="texto-imagen">
    <div class="texto">
      <h2 class="titulo">Un Lodge Donde El Diseño Contemporáneo Se Mueve En Armonía Con La Naturaleza</h2>
      <p>Mashpi Lodge es el lugar ideal para encontrar más de 500 especies de aves, árboles y ranas que no se pueden ver
        en ninguna otra parte del mundo. En medio de un bosque poblado por cascadas poderosas y felinos misteriosos,
        aventuras y emociones únicas esperan por usted. Atrévase a caminar por senderos ocultos, a darse un chapuzón en
        los ríos de agua cristalina, a levantarse al amanecer para observar el despertar de las aves, o volar a través
        de los árboles en nuestra Libélula.

        El mundo que nos rodea respira y espera ser descubierto…</p>
    </div>
    <div class="imagen">
      <img src="https://th.bing.com/th/id/OIP.iyiBrN9uNSWGgxWgqJPAHwHaE8?rs=1&pid=ImgDetMain"
        alt="Imagen del contenido">
    </div>
  </div>
</div>