/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa; /* Cambia el color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    border-radius: 8px; /* Añade bordes redondeados */
}

table th,
table td {
    border: 1px solid #dee2e6; /* Añade bordes con un tono más claro */
    padding: 12px; /* Aumenta el espaciado interno */
    text-align: center; /* Centra el contenido */
}

table th {
    background-color: #f0f0f0; /* Cambia el color de fondo de las celdas de encabezado */
    font-weight: bold; /* Hace que el texto del encabezado sea más audaz */
}

/* Resalta las filas pares */
table tr:nth-child(even) {
    background-color: #f3f3f3; /* Cambia el color de fondo de las filas pares */
}

/* Carousel item */
.carousel-item img {
    max-width: 100%;
    height: auto;
}

/* Optional styling for people-habitations */
.people-habitations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Optional border styling */
.borders {
    border: 1px solid #000000;
    padding: 5px; /* Optional styling for space within borders */
}

/* Optional styling to remove borders around images */
.borders img {
    border: none;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    /* Adjust table cells for smaller screens */
    table th,
    table td {
        padding: 10px; /* Ajusta el espaciado interno para pantallas más pequeñas */
        font-size: 14px;
    }

    /* Adjust carousel item images for smaller screens */
    .carousel-item img {
        max-width: 100%;
        height: auto;
    }

    /* Adjust carousel controls for smaller screens */
    .carousel-control-prev,
    .carousel-control-next {
        font-size: 12px;
    }
}
